
html
{
    height: 100%;
    width: 100%;
    font-size: 1px;
}

div
{
    font-size: 14px;
}

#user-input-div
{
    border: 1px solid rgb(19, 3, 252);
    background-color: rgb(19, 3, 252);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0px;
    height: 220px;
    width: 45%;
    margin-left: 23%;
    margin-right: 20%;
    margin-top: 104px;

}
.general-div
{
    height: 330px;
    /*border: 2px solid rgb(19, 3, 252);*/
    border-bottom: 5px solid #fca503;
    margin-bottom: 0px;
    margin-top: 0px;

}
select, input
{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.user-input
{
    float: left;
    margin-top: 60px;
    padding-left: 5px;
}
span
{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: x-large;
}

.button
{
    margin-top: 74px;
}
.value
{
    font-size: x-large;
}
#from, #to
{
    /*float: left;*/
    width: auto;
    margin-left: 10px;
}
#from
{
    /*margin-left: 40%;*/
    font-size: medium;
}
#to
{
    font-size: xx-large;
    /*margin-left: 35%;*/
}

.resultdiv
{
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 0;
    border-bottom: 5px solid #fca503;
}


.borderless td, .borderless th
{
    border: none;
    font-size: x-large;
}


.rates
{
    width: 100%;
    height: auto;
    min-height: 100px;
    padding-left: 3%;
}


#rates-div
{
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 28%;
    background-color: rgb(19, 3, 252);
    border-bottom:   2px solid #fca503;
    float: left;
}

.bg-color-white
{
    background-color: white;
}

.history
{
    font-size: 14px;
    height: auto;
    width: 200px;
    margin-left: 10px;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
.h
{

}


